<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <link rel="stylesheet" href="../css/service.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <script src="https://kit.fontawesome.com/d953ad999c.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">

</head>

<body>
    <!-- header -->
    <div class="container-fluid">
        <header class="menu-header">
            <div class="row">
                <nav class="menu-bar">
                    <ul>
                        <img src="../images/resources/logo-2.png">
                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active"><a href="">About Us</a></li>
                        <li><a href="#"><i class="fa fa-user-doctor"></i>Doctor</a></li>
                        <li><a href="#"><i class="fa fa-user-check"></i>Service</a>
                            <div class="sub-menu-1">
                                <ul>
                                    <li><a href="checkup.html">Check Ups</a></li>
                                    <li><a href="dental_bridge.html">Dental Bridges</a></li>
                                    <li><a href="dental_implant.html">Dental Implants</a></li>
                                    <li><a href="filling.html">Fillings</a></li>
                                    <li><a href="#">Treating Gum Disease</a></li>
                                    <li><a href="#">Tooth Extraction & Removal</a></li>
                                    <li><a href="#">Cosmetic Dentistry</a></li>
                                    <li><a href="#">Dental Crowns</a></li>
                                    <li><a href="#">Emergency Dental Care</a></li>
                                    <li><a href="#">Oral Surgery</a></li>
                                    <li><a href="#">Root Canal</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-procedures"></i>Product</a>
                            <div class="sub-menu-1">
                                <ul>
                                    <li><a href="#">A</a></li>
                                    <li><a href="#">B</a></li>
                                    <li><a href="#">C</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-blog"></i>Blog</a></li>
                        <input type="text" class="search" placeholder="Search">
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <!-- end header -->


    

        <!-- body <--></-->
    <div class="container service-content " style="margin-bottom: 25px;">
        <h1 class="text" style="background-image: url(../images/background.png); width: 80%;">About us</h1>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col" >
                <div class="slider-image">
                    <img src="../images/blog/2.jpg" style="width: 100%;">
                </div>
            </div>
            <div class="col">
                <p style="color: #8bc43f; font-size: 28px;">About us</p>
                <h3 class="sec-title h1">Mission and Story About Our Us</h3>
                <p>Dento Viet Nam was started in the year of 2021 as a small private dental clinic in Le Thanh Nghi, Ha Noi, Viet Nam. Looking for affordable dental care?</p>
                <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, pain resultant pleasure praising teachings of the great explorer...</p>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 40px;" id="row" >
        <div class="row">
            
            <div class="col" style="min-height: 150px; ">
              <h3 style="font-size: 28px;">Our Values</h3>
              <p>We hold a few core values as a company, but most of them boil down to our first one: “Be transparent, honest and conduct your business with integrity.” What does that mean to us?</p> 
              <p><b>Transparency:</b> We believe in transparency both within our team and with our clients. This doesn’t mean sharing private information, but rather creating and living a culture where we talk through thought processes, willingly share updates and news with each other and clients, and give insight as to where everything stands. </p> 
              <p><b>Honesty:</b> We value input and feedback from our team members and regularly make changes or introduce new products or policies based on this information.</p>
              <p><b>Integrity:</b>  If you make a mistake, bring it up to someone who can help you fix it rather than trying to hide it, thus making it worse. Don’t cut corners to the detriment of others or yourself.</p>
            </div>
            <div class="col">
                <div class="slider-image">
                    <img src="../images/blog/2.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <h2 style="text-align: center;color: deepskyblue;">Do you want to join us ?</h2>
    <div class="container">
        
    <div class="benefit">
        <h2 style="text-align: left;color: white; margin: 10px;" >Perk & Benefits</h2>
        <div class="benefit1">
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1" >Generous Paid Time Off</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-calendar-plus" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Start off with 2 weeks PTO, 10 holidays, plus 5 "personal days" - use those for mental health, moving, or whatever your heart desires.</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Located in Uptown</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-city" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Or not. Some of our team comes in several times a week, some only see our office on special occasions. But if you choose to come in, we're here!</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Flex Friday Schedules</h3>
                </div>
                <div class="fa-solid">
                    
                    <i class="fa-solid fa-clock" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Work slightly longer days 4 days a week and get every other Friday (or Wednesday) off. Or some split the difference and work 1/2 days on Friday.</p>
                </div>
            </div>
        </div>

        <div class="benefit1">
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Free Beer and Coffee</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-mug-saucer" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Join us for an impromptu happy hour - or if you choose not to partake, we have some non-alcoholic options available too!</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Working Sabbaticals</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-earth-asia" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Take a month each year to work from wherever you want in the world. Stack your PTO to have more time to explore your chosen destination.</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Sick & Wellness Leave</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-user-doctor" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">WYou get 6 days per year for sick leave, which includes time off for preventative and medical appointments such as physical therapy.</p>
                </div>
            </div>
        </div>
        <div class="benefit1">
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Dog Friendly Office</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-paw" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Bring your dog to the office with you! Our resident dog, Loxie, will show yours the ropes, including who is always willing to rub some puppy bellies.</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Educational Opportunities</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-graduation-cap" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Interested in learning a new skill that can help you in your role? We'll pay for you to take classes or spend time doing some DIY learning via online courses.</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Monthly Happy Hours</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-calendar-plus" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">If you're local, join us each month for a group happy hour! We change the location often but also have a few favorite haunts. Appetizers included!</p>
                </div>
            </div>
        </div>

            <div class="benefit1">
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Healthcare Benefits</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-martini-glass" id="fa-solid"></i></div>

               </div>
                <div class="explain">
                <p style="font-size: 18px;">We'll cover 50% of yours plus your dependents' plans. Choose from basic "disaster-only" all the way up to premium plans.</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Foosball Table & Darts</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-trophy" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">We know, it's so cliché. But we actually use it! If darts are more your thing, we have that, too. Oh, and our CEO's face is on it. (He's a good sport)</p>
                </div>
            </div>
            <div class="menu">
                <div style="margin-bottom: 10px;">
                <div class="tittle">
                    <h3 class="menu1">Paid Parental Leave</h3>
                </div>
                <div class="fa-solid">
                    <i class="fa-solid fa-child-reaching" id="fa-solid"></i></div>
               </div>
                <div class="explain">
                <p style="font-size: 18px;">Recently welcomed a child into your family? No matter how they came to join you, we'll give you time to adjust and recover before you come back to work.</p>
                </div>
            </div>
        </div>
        

        </div>
    </div>
    <div class="container" style="margin-top: 15px;margin-bottom: 10px;">

        <h1 style="text-align: center;color: deepskyblue;">Contact us</h1><br>
        <div class="row" >
            <div class="col-6" style="display: flex;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d783.0279455413985!2d105.84981032680776!3d21.003472873598113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad58455db2ab%3A0x9b3550bc22fd8bb!2zNTQgUC4gTMOqIFRoYW5oIE5naOG7iywgQsOhY2ggS2hvYSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1658653850344!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-6" id="contact">
             
                <p ><b>Book schedule online</b></p>
                <p><b>Hotline:</b> 0123456789</p>
                <p><b>Fanpage:</b> https://www.facebook.com/Dento_VietNam</p>
                <p><b>Address:</b> 54 Le Thanh Nghi street, Hai Ba Trung District, Ha Noi.</p>
           
            </div>
        </div>
        
    </div>
    <!-- end body -->


    <!-- footer -->
    <footer>
        <div class="row">
            <div class="col-3">
                <img src="../images/resources/logo-2.png" sizes="32x32" class="logo">
                <p>Dento was started in the year 1995 as a small private dental clinic in Binghamton, NY, USA. Looking for affordable dental care?</p>
                <p class="bottom-text">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain.</p>
            </div>
            <div class="col-2">
                <h3>Link</h3>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Product</a></li>
            </div>
            <div class="col-4">
                <h3>Opening Hour</h3>
                <div>
                    <ul class="opening-hours">
                        <li>Monday <span class="float-right">8.30am–6.30pm</span></li>
                        <li>Tuesday <span class="float-right">10.00am–8.00pm</span></li>
                        <li>Wednesday <span class="float-right">8.30am–6.30pm</span></li>
                        <li>Thursday <span class="float-right">8.30am–7.00pm</span></li>
                        <li>Friday <span class="float-right">8.30am–3.00pm</span></li>
                        <li>Saturday <span class="float-right">8.30am–2.00pm</span></li>
                        <li>Sunday <span class="float-right color-red">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="information col-8">
                    <li><i class="far fa-solid fa-envelope"></i>suport@example.com
                    </li>
                    <li><i class="far fa-solid fa-phone"></i>+84 123456789
                    </li>
                    <li><i class="far fa-address-card"></i> 54 Le Thanh Nghi, Hai Ba Trung
                    </li>
                </div>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright by Team 4 C2110L © 2022</p>
    </footer>
    <!-- end footer -->
</body>

</html>