<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Bridges</title>

    <link rel="stylesheet" href="../css/service.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <script src="https://kit.fontawesome.com/d953ad999c.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="icon" type="image/png" href="../images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">

</head>

<body>
    <!-- header -->
    <header class="container-fluid menu-header">
        <div class="row">
            <nav class="menu-bar">
                <ul>
                    <img src="../images/resources/logo-2.png">
                    <li><a href="../index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="#"><i class="fa fa-user-doctor"></i>Doctor</a></li>
                    <li class="active"><a href="#"><i class="fa fa-user-check"></i>Service</a>
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="checkup.html">Check Ups</a></li>
                                <li><a href="dental_bridge.html">Dental Bridges</a></li>
                                <li><a href="dental_implant.html">Dental Implants</a></li>
                                <li><a href="filling.html">Fillings</a></li>
                                <!-- <li><a href="#">Treating Gum Disease</a></li>
                                    <li><a href="#">Tooth Extraction & Removal</a></li>
                                    <li><a href="#">Cosmetic Dentistry</a></li>
                                    <li><a href="#">Dental Crowns</a></li>
                                    <li><a href="#">Emergency Dental Care</a></li>
                                    <li><a href="#">Oral Surgery</a></li>
                                    <li><a href="#">Root Canal</a></li> -->
                            </ul>
                        </div>
                    </li>
                    <li><a href="price.html"><i class="las la-file-invoice"></i>Price</a></li>
                    <li><a href="#"><i class="fa fa-blog"></i>Blog</a></li>
                    <div>
                        <span class="las la-search"></span>
                        <input type="text" class="search" placeholder="Search">
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end header -->
    <div class="container service-content">
        <ol class="listup">
            <li><a href="index.html">Home</a></li>
            <li>></li>
            <li>Service</li>
            <li>></li>
            <li>Dental Bridge</li>
        </ol>
    </div>
    <!-- body -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1 style="margin-bottom: 20px;">Why Do I Need a Bridge</h1>
                <h2 style="margin-bottom: 20px;  color: rgb(104, 189, 73);">According to the American Dental Association</h2>
                <p>A bridge is a custom-made replacement tooth or teeth that fill the space where one or more teeth are missing. </p>
                <p>The bridge permanently restores your bite and helps keep the natural shape of your face. </p>
                <p>This brochure reviews the types of non-removable bridges available and the steps involved in placing your bridge. Your dentist can recommend which type of bridge is best for you based on your specific needs.</p>
                <h4>Why you need a bridge </h4>
                <p>A missing tooth is a serious matter. Teeth are made to work together to help you chew, speak and smile. When you lose a tooth, the nearby teeth may shift and become crooked. This may make it harder to speak or chew. A missing tooth in
                    the lower jaw may cause a tooth in your upper jaw to shift down into that space, meaning your teeth will no longer be even or in a straight line. This can affect your bite and place more stress on your teeth and jaw joints, possibly
                    causing pain and damage. </p>
                <p>Teeth that have tipped or drifted are also harder to clean. This can increase the risk for tooth decay and gum disease.</p>
                <p>Missing teeth can lead to bone loss, which can cause neighboring teeth to become loose and can lead to facial collapse. If that happens, it may change the way the jawbone supports the lips and cheeks. Over time, this can make your face
                    look older. </p>
                <h3>Drifting teeth</h3>
                <ol>
                    <li>Position of teeth immediately after a tooth is lost.</li>
                    <li>If the tooth is not replaced, other teeth can drift out of position and change the bite.</li>
                </ol>
                <div>
                    <img src="../images/Service_html/dental_bridge/1.jpg" class="service_1">
                </div>
                <h3>Facial collapse</h3>
                <div>
                    <img src="../images/Service_html/dental_bridge/2.jpg" class="service_1">
                </div>
                <p>When teeth are lost and not replaced, the face looks older. The lips appear thin and flattened. The chin moves forward and upward and appears pointed.</p>
                <div>
                    <img src="../images/Service_html/dental_bridge/3.jpg" class="service_1">
                </div>
                <p>Also, the mouth loses some of its shape, and the lip line straightens. Pouches become pronounced on either side of the lower jaw. Cracks and sores may form at the corners of the mouth.</p>

                <div class="container" style="background-color: #E5F2FF; padding: 10px;">
                    <h1>Types of Dental Bridges</h1>
                    <h3>Fixed bridge</h3>
                    <p>To place a <b>fixed bridge</b>, your dentist uses an existing natural tooth or teeth to help hold your bridge in place. Fixed bridges are cemented in place and only a dentist can remove them. This makes them feel stable and very similar
                        to your natural teeth. </p>
                    <p>An artificial tooth, called a pontic, takes the place of the missing tooth. The pontic is secured by one or more crowns, which are bonded to the teeth on either side of the missing tooth.</p>
                    <p>Placing a bridge takes several dental visits. Depending on your needs, one or more teeth may be prepared to hold the bridge. Let’s use the example of a bridge supported by two teeth:</p>
                    <ol style="list-style: none;list-style-type: circle;">
                        <li>On the first visit, your dentist prepares the teeth on both sides of the gap. The bridge will attach to those teeth. Once these teeth are prepared for placement of the bridge, they will permanently lose their natural look and shape.</li>
                        <li>Your dentist then makes an impression or an image of your teeth and the space. This information is sent to a dental laboratory where lab technicians follow your dentist’s instructions and make the bridge.</li>
                        <li>Your dentist will place a temporary bridge to protect your prepared teeth while you are waiting for the permanent bridge.</li>
                        <li>When the permanent bridge is ready, your dentist fits, adjusts and cements the bridge to the prepared teeth. This type of bridge is permanent and cannot be taken out of your mouth without a dentist’s help.</li>
                    </ol>
                    <h3>Implant-supported bridge</h3>
                    <p>An <b>implant-supported bridge</b> is a bridge that is attached to one or more metal posts that are surgically implanted into your jawbone. The posts act like the roots of natural teeth. The bridge, which has replacement teeth mounted
                        on a tooth-colored base, attaches to these metal posts. A key benefit of an implant-supported bridge is that it doesn’t need support from the surrounding teeth. </p>
                    <p>An implant-supported bridge requires surgery to place the post into the bone. Candidates for dental implants should be in good general health and have enough bone to support an implant. </p>
                    <p>Implants may be placed in one day or may require multiple visits depending on the existence of a previous infection, the availability of bone to hold the implant and your dentist’s treatment plan.</p>
                    <h3>What materials are used in a bridge?</h3>
                    <p>Bridges are made from metal, ceramics or a combination of the two. Your dentist will talk with you about the materials that are best for you and your mouth.</p>
                    <h4>Fixed bridge </h4>
                    <div style="margin: 20px;">
                        <img src="../images/Service_html/dental_bridge/4.jpg" class="service_1">
                    </div>
                    <h4>Missing tooth</h4>
                    <p>To replace a missing tooth with a conventional three-unit bridge, teeth next to the gap are reduced.</p>
                    <p>The custom-made bridge is placed over the prepared teeth.</p>
                    <p style="margin-bottom: 20px;">After adjustments are made, the bridge is cemented into place.</p>
                    <h4>Implant-supported bridge</h4>
                    <div style="margin: 20px;">
                        <img src="../images/Service_html/dental_bridge/5.jpg" class="service_1">
                    </div>
                    <ol>
                        <li>Missing teeth</li>
                        <li>A bridge is placed on implants</li>
                        <li>After the bridge is placed</li>
                    </ol>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="service-frame">
                    <div class="form-group">
                        <label>Full name:</label>
                        <input required="true" type="text" name="fullname" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Birth</label>
                        <input required="true" type="date" name="age" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input required="true" type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input required="true" type="text" name="address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Content:</label>
                        <textarea class="form-control" id="content_service" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" style="text-align: center;margin-left: 40%;">Book</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- end body -->


    <!-- footer -->
    <footer>
        <div class="row">
            <div class="col-3">
                <img src="../images/resources/logo-2.png" sizes="32x32" class="logo">
                <p>Dento was started in the year 1995 as a small private dental clinic in Binghamton, NY, USA. Looking for affordable dental care?</p>
                <p class="bottom-text">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain.</p>
            </div>
            <div class="col-2">
                <h3>Link</h3>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Product</a></li>
            </div>
            <div class="col-4">
                <h3>Opening Hour</h3>
                <div>
                    <ul class="opening-hours">
                        <li>Monday <span class="float-right">8.30am–6.30pm</span></li>
                        <li>Tuesday <span class="float-right">10.00am–8.00pm</span></li>
                        <li>Wednesday <span class="float-right">8.30am–6.30pm</span></li>
                        <li>Thursday <span class="float-right">8.30am–7.00pm</span></li>
                        <li>Friday <span class="float-right">8.30am–3.00pm</span></li>
                        <li>Saturday <span class="float-right">8.30am–2.00pm</span></li>
                        <li>Sunday <span class="float-right color-red">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="information col-8">
                    <li><i class="far fa-solid fa-envelope"></i>suport@example.com
                    </li>
                    <li><i class="far fa-solid fa-phone"></i>+84 123456789
                    </li>
                    <li><i class="far fa-address-card"></i> 54 Le Thanh Nghi, Hai Ba Trung
                    </li>
                </div>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright by Team 4 C2110L © 2022</p>
    </footer>
    <!-- end footer -->
</body>

</html>